*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
# ignorar o logo do app formato png da pasta drawable exemplo o logo gp_social_logo.png
/app/src/main/res/drawable/gp_social_logo.png
